<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :exam_date %><br>
    <%= f.date_select :exam_date %>
  </div>
  <div class="field">
    <%= f.label :question_paper_id %><br>
    <%= f.number_field :question_paper_id %>
  </div>
  <div class="field">
    <%= f.label :total_score %><br>
    <%= f.number_field :total_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
