<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @exam.user_id %>
</p>

<p>
  <strong>Exam date:</strong>
  <%= @exam.exam_date %>
</p>

<p>
  <strong>Question paper:</strong>
  <%= @exam.question_paper_id %>
</p>

<p>
  <strong>Total score:</strong>
  <%= @exam.total_score %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
